body{
font-family: helvetica, sans-serif;
  margin: 0px;

}

/*Estilos de la barra superior de navegación*/
.menu{
  position: fixed;
  top: 0px;
  background: #2c3e50;
  width: 100%;
  color: #fff;
  list-style: none;
  font-size: 17px;
  z-index: 1000;
  font-family: "lato";
}
.menu ul{
  text-align: right;
  margin:0px 210px;
  padding: 20px;
  overflow: auto;

}
.menu li{
  display: inline-block;
  margin: 12px 6px;
  padding-top: 12px;
}
.menu li:hover{
  color: #18bc9c;
}
.menu .first-item{
  font-size: 34px;
  float:left;
  padding-top: 0px;
}
.menu .first-item:hover{
 color: white;
}
/* Primera caja*/
.container{
  font-family: helvetica;
  width: 100%;
  background: #18bc9c;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
  text-align: center;
  padding: 183px 0px 80px 0px;
  line-height: 1.5;
}
.container p{
font-size: 70px;
font-weight: 900;
margin:0px;
}
.container ul{
  list-style: none;
}
.container li{
  display: inline-block;
  font-size: 26px;
}

/*Segunda caja*/
.portfolio{
  text-align: center;
  margin: 100px 0px 100px;
}
.portfolio p{
font-size: 45px;
font-weight: 800;
margin: 0;
}
.star::before, .star::after{
  content: "___"; /*Contenido que aparecera*/
  font-size: 60px;
  font-weight:700;
  margin-right: 5px;
  opacity: 0.95;/*Le asignamos opacidad para que se diferencie de los demas textos que se encuentren en la etiqueta <section>*/
  position: relative;
  top:-17px;
 }

.star{
  position: relative;
  bottom: 25px;
}

.portfolio figure{
 
 column-count: 3;
 column-gap: none;
  margin: 0px 230px auto;
}
.container-images img{
  position: relative;
  max-width: 350px;
  margin: 12px;
}

/*Tercera caja: About*/
.about{
text-align: center;
background-color: #18bc9c;
padding: 100px 0px;
color: #fff;
}
.about .title{
  font-size: 45px;
  font-weight: 800;
  margin: 0px;
}

.column1, .column2{
  display: inline-block;
  line-height: 1.7;
  font-size: 18px;
  margin: 10px;
  text-align: left;
  width: 22.5%;
  vertical-align: text-top;
  font-family: 'Montserrat', sans-serif;
}
.button{
  margin-top: 20px;
  font-size: 20px;
  border: 2px solid #fff;
  padding: 12px;
  border-radius: 5px;
  display: inline-block;
}
.button:hover{
  color: #18bc9c;
  background-color: #fff;
  transition-duration: 1s;
}
/*Cuarta caja: Formulario*/
.contact{
  text-align: center;
  background-color: #fff;
  padding: 100px 0px;
  color: #000;
}
.contact p{
  font-size: 45px;
  font-weight: 800;
  margin: 0px;
}

input, textarea{
  border: none;
  font-size: 25px;
  display: block;
  text-align: center;
  padding: 25px 0px;
  border-bottom: 1px solid #ced4da;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial;
  outline: none;
  line-height: 1.5;
  width: 45%; 
}
[placeholder]{
  text-align: left;
}
button{
display: block;
position: relative;
top: 25px;
left: 27.5%;
background: #18bc9c;
border-style: none;
font-size: 20px;
color: white;
padding: 12px 15px;
font-weight: 700;
border-radius: 5px;
text-align: left;
}
button:hover{
  background: #088A68;
  transition-duration: 1s;
}

/*Footer*/
footer{
  background: #2c3e50;
  padding: 40px 0px 10px 0px;
  color: #fff;
  text-align: center;
}
footer .cube{
  display: inline-block;
  width:  25%;
  margin: auto auto 100px auto;
  box-sizing: border-box;
}
footer i{
  border: 2px solid white;
  padding: 15px;
  margin: 2px;
  border-radius: 100%;
  box-sizing: border-box
  
}
footer i:hover{
  background-color: white;
  color: #18bc9c;
  transition-duration: 1s;
}
footer h1{
  margin-bottom: 35px; 
  font-size: 26px;
  font-weight: 900;
}
footer p{
  font-size: 18px;
}

#copyright{
  font-size: 16px;
}
.cube a{
  text-decoration: none;
  color: #18bc9c;
}
.cube a:hover{
  text-decoration: underline;
  color: #18bc9c;
 
}


/*Enlaces*/
.enlace{
  text-decoration: none;
  color: inherit;
}
/*Reutilizable*/
.text-uppercase{
  text-transform: uppercase
}
